.header {
    height: 120px;
    background: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding: 0;
    margin-top: 4px;
    margin-bottom: 0;
}

.header__navbar-item {
    margin: 0 8px;
    min-height: 26px;
    position: relative;
}

.header__navbar-item--qr:hover > .header__qr {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #fb9086;
    top: 0;
    right: -10px;
    bottom: 0;
    transform: translateY(5px);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

/* Header Qr code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    height: 216px;
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadein ease-in 0.5s;
}

.header__qr::before {
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    top: -16px;
    display: block;
    background-color: transparent;
}


.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    margin: 0 11px;
    justify-content: space-between;
}

.header__qr-download-img {
    height: 15px;
}





